@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}


.row-box-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}

.shadow-padding-column {
    padding: 20px;
    border-radius: 20px;
}

.shadow-padding-column form input {
    border-radius: 20px;
}

.container-media{
    margin-top: 180px;
}

body {
    background-color: #f1f1f1;

}



/* ----------------------------------------------------- download button css start-------------------------------------- */


/* CSS */
.btn-primary-style {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    height: 44px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.btn-primary-style:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn-primary-style:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn-primary-style:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}



/* ----------------------------------------------------- Delete button css start-------------------------------------- */





/* CSS */
.delete-buton-style {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.delete-buton-style:active {
    outline: 0;
}

.delete-buton-style:hover {
    outline: 0;
}

.delete-buton-style span {
    transition: all 200ms;
}

.delete-buton-style:hover span {
    transform: scale(.9);
    opacity: .75;
}

@media screen and (max-width: 991px) {
    .delete-buton-style {
        font-size: 15px;
        height: 50px;
    }

    .delete-buton-style span {
        line-height: 50px;
    }
}


/* -------------------------------------------------------------------------------- */





.container-display {
    /* margin-left: 10%; */
    width: 900px;
    background-color: #fff;
    padding: 40px;
    margin-top: 60px;
    /* padding-right: 40px; */
    /* border: 1px solid #ccc; */
    border-radius: 20px;
}

label {
    font-size: 16px;
}

.success {
    margin: 5px auto;
    border-radius: 5px;
    border: 3px solid #fff;
    background: #33cc00;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    box-shadow: 10px 5px 5px grey;
}





/* -------------------------------------------------- */



/* start media query */

@media only screen and (min-width: 575px) {
    .row-box-style {
        /* margin: auto; */
        margin-left: 5px;
        width: 100%;
        padding: 10px;
    }
}


/* @media only screen and (max-width: 575px) {
    .row-box-style {
        margin: auto;
        margin-left: 5px;
        width: 100%;
        padding: 10px;
    }
} */



/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
    .row-box-style {
        /* margin: auto; */
        margin-left: 5px;
        width: 100%;
        padding: 10px;
    }
  }
  
  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 600px) {
    .row-box-style {
        /* margin: auto; */
        margin-left: 5px;
        width: 100%;
        padding: 10px;
    }
  }